﻿@model IEnumerable<FoodMarket.App.AgroMarketService.Offer>

@{
    ViewBag.Title = "Mis Ofertas";
}


<div class="row">
    <div class="section-title">
        <h2>@ViewBag.Title</h2>
    </div>
</div>


<div class="row" id="SellerPageView">

    <div class="panel panel-success">
        <div class="panel-heading">Intenciones de Ventas Actualmente Disponibles</div>
        <div class="panel-body">
            <p>Listado de Intenciones de Venta encontradas.</p>


            <table class="table table-striped" id="offersListDatatable">
                <thead>
                    <tr>
                        <td>
                            Productor
                        </td>

                        <td>
                            Código Producto
                        </td>
                        <td>
                            Nombre de Producto
                        </td>
                        <td>
                            Unidad
                        </td>
                        <td>
                            Precio x nidad
                        </td>
                        <td>
                            Cantidad
                        </td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Productor
                            </td>
                            <td>
                                @item.ProductCode
                            </td>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.ProductUnit
                            </td>
                            <td>
                                @item.PriceUnit
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>

@section scripts {

    <script>

        $(document).ready(function () {

            $('#offersListDatatable').DataTable({
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": false,
                "language": App.ui.datatablesResources
            });
        });

    </script>
}