﻿@{
    ViewData["Title"] = "Inicio";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/wallpapers/vxtbczvg.bmp" alt="Agricultura" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/wallpapers/bewhhr5h.bmp" alt="Agricultura" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/wallpapers/crj8zzkt.bmp" alt="Agricultura" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/wallpapers/nmn5u4va.bmp" alt="Agricultura" class="img-responsive" />
            <div class="carousel-caption" role="option">

            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="row">
    <div class="section-title">
        <h3>Hola, Bienvenido a la <strong>Bolsa de Productos Agrícolas</strong>.</h3>
    </div>

    <div class="col-sm-6">
        <h5>Servicios</h5>
        <div>
            <ul>
                <li>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </li>
                <li>
                    Aliquam tincidunt mauris eu risus.
                </li>
                <li>
                    Vestibulum auctor dapibus neque.
                </li>
                <li>
                    Nunc dignissim risus id metus.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <h5>Blah blah</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.

            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
        </p>
    </div>
</div>


