﻿

@{
    ViewBag.Title = "Nueva Intención de Compra";
}

<div class="row">
    <div class="section-title">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row" id="BuyIntentionView">
    <div class="col-sm-10">
        <form class="form-horizontal" action="Create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <div class="col-xs-2 col-sm-4">
                    <h5>Fecha de Expiración</h5>
                </div>
                <div class="col-xs-10 col-sm-4">
                    <input class="form-control datepicker" type="datetime" name="ExpirationDate" value="@DateTime.Now.AddDays(30).ToString("f")" disabled />
                </div>
            </div>

            <div class="form-group margin-bottom-20" id="products-group">
                <div class="col-xs-2 col-sm-4">
                    <h5>Productos</h5>
                </div>

                <div class="col-xs-10 col-sm-8">
                    <table class="panel table table-striped table-bordered" name="ProductList" id="ProductList">
                        <thead>
                            <tr>
                                <td class="">Selección</td>
                                <td>Nombre</td>
                                <td>Cantidad</td>
                                <td>Tipo de Unidad</td>
                                <td>Precio por Unidad</td>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: products">
                            <tr>
                                <td>
                                    <input type="checkbox" class="selection checkbox-inline text-center" data-bind="checked: $data.IsSelected" />
                                    <input type="hidden" value="" class="hidden_id" data-bind="value: $data.ProductCode" />
                                    <input type="hidden" value="" class="hidden_order" data-bind="value: $data.OrderId" />
                                </td>
                                <td>
                                    <h6 data-bind="text: ProductName"></h6>
                                </td>
                                <td>
                                    <input required type="number" class="form-control" max="9999" min="1" data-bind="value: $data.Quantity" />
                                </td>
                                <td>
                                    <select required data-bind="options: $root.units, optionsCaption: '--' , optionsValue: 'Id', optionsText: 'Description', value: $data.ProductUnitId"></select>
                                </td>
                                <td>
                                    <input required type="number" class="form-control" min="1" data-bind="value: $data.PriceUnit" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-sm-12 text-right  margin-top-20">
                <button class="btn btn-danger" type="reset" id="btnCleanForm">Borrar</button>
                <button class="btn btn-primary" type="button" id="btnSubmit" data-bind="click: pushIntention">Crear</button>
            </div>

            @Html.AntiForgeryToken()
        </form>
    </div>
</div>

<script type="text/html" id="newProductTemplate">

</script>

@section scripts {
    <script src="~/Scripts/buyIntention_create.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}