﻿@model IEnumerable<FoodMarket.App.AgroMarketService.IntentionBuying>

@{
    ViewBag.Title = "Intenciones de Compra";
}


<div class="row">
    <div class="section-title">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row" id="">

    <div class="panel panel-success">
        <div class="panel-heading">Intenciones de Compras</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-10">
                    <p>Listado de mis intenciones de compra registradas.</p>
                </div>
                <div class="col-sm-2 text-right  margin-bottom-20">
                    <a class="btn btn-success" data-dismiss="modal" href="@Url.Action("Create", "Shop")">Crear Nueva</a>
                </div>
            </div>
            

            <table class="table table-striped" id="buysListDatatable">
                <thead>
                    <tr>
                        <td>Intermediador</td>
                        <td>Fecha de Creación</td>
                        <td>Fecha de Vencimiento</td>
                        <td>Cant. Productos</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Buyer
                            </td>
                            <td>
                                @item.DateCreation.ToString("f")
                            </td>
                            <td>
                                @item.ExpirationDate.ToString("f")
                            </td>
                            <td>
                                @item.ProductList.Count()
                            </td>
                            <td>
                                <a class="btn btn-warning triggerModal" href="#" data-sellId="@item.Id"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Ver</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>


<div id="buyDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles de Intención de Compra</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    Fecha: <strong><span data-bind="text: date"></span></strong>
                </div>
                <h5>Productos</h5>
                <ol data-bind="foreach: products">
                    <li>
                        <span data-bind="text: $data.ProductName"></span>  <br />
                        <label>Cantidad: </label><span data-bind="text: $data.Quantity"></span> (Unidad: <span style="text-decoration: wavy;" data-bind="text: $data.ProductUnit"></span>)<br />
                        <label>Precio x Unidad: </label><span data-bind="text: '$' + $data.PriceUnit"></span><br />
                    </li>
                </ol>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script src="~/Scripts/buyIntentions.js"></script>
}

