﻿@model IEnumerable<FoodMarket.App.AgroMarketService.IntentionSell>

@{
    ViewBag.Title = "Intenciones de Venta";
}


<div class="row">
    <div class="section-title">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row" id="SellerPageView">

    <div class="panel panel-success">
        <div class="panel-heading">Intenciones de Ventas Actualmente Disponibles</div>
        <div class="panel-body">
            <p>Listado de Intenciones de Venta encontradas.</p>

            <table class="table table-striped" id="sellsListDatatable">
                <thead>
                    <tr>
                        <td>Fecha</td>
                        <td>Cant. Productos</td>
                        <td>Vendedor</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.DateCreation.ToString("f")
                            </td>
                            <td>
                                @item.ProductList.Count()
                            </td>
                            <td>
                                @item.Seller
                            </td>
                            <td>
                                <a class="btn btn-warning triggerModal" href="#" data-sellId="@item.Id"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Ver</a>

                                <a class="btn btn-success doMakeDeal" href="#" data-sellId="@item.Id"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Ofertar Compra</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<div id="myOffersModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mis Intenciones de Compra</h4>
            </div>
            <div class="modal-body">

                <table class="table table-striped" id="buysListDatatable">
                    <thead>
                        <tr>
                            @*<td>Intermediador</td>*@
                            <td>Fecha de Creación</td>
                            <td>Fecha de Vencimiento</td>
                            <td>Cant. Productos</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: intentions">
                        <tr>
                            @*<td data-bind="text: $data.Buyer"></td>*@
                            <td data-bind="text: moment($data.DateCreation).format('DD/MM/YYYY')"></td>
                            <td data-bind="text: moment($data.ExpirationDate).format('DD/MM/YYYY')"></td>
                            <td data-bind="text: $data.ProductList.length"></td>
                            <td>
                                <a class="btn btn-warning triggerModal" href="#" data-bind="click: $root.pushDeal($data.Id)"> Ofertar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal" href="@Url.Action("Create", "Shop")">Crear Nueva</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="sellDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles de Intención de Venta</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    Vendedor: <strong><span class="" data-bind="text: seller"></span></strong><br />
                    Fecha: <strong><span data-bind="text: date"></span></strong>
                </div>
                <h5>Productos</h5>
                <div id="productsOffer">
                    <ol data-bind="foreach: products">
                        <li>
                            <span data-bind="text: $data.ProductName"></span>  <br />
                            <label>Cantidad: </label><span data-bind="text: $data.Quantity"></span> (Unidad: <span style="text-decoration: wavy;" data-bind="text: $data.ProductUnit"></span>)<br />
                            <label>Precio x Unidad: </label><span data-bind="text: '$' + $data.PriceUnit"></span><br />
                        </li>
                    </ol>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/sellers.js"></script>
}


