﻿@model IEnumerable<FoodMarket.App.AgroMarketService.Product>

@{
    ViewBag.Title = "Productos";
}


<div class="row">

    <div class="section-title">
        <h2>Productos</h2>
    </div>

    <div class="col-sm-12">
        <table id="productListDatatable" class="table table-strip table-responsive">
            <thead>
                <tr>
                    <td>
                        Código
                    </td>
                    <td>
                        Nombre
                    </td>
                    @*<td></td>*@
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>
            }

        </table>
    </div>
</div>

@section scripts {

    <script>

        $(document).ready(function () {
            $('#productListDatatable').DataTable({
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": false,
                "language": App.ui.datatablesResources
            });
        });

    </script>

}


