﻿/*
    
    #005A31
    #A8CD1B
    #CBE32D
    #F3FAB6


background: #73C8A9; 
background: -webkit-linear-gradient(to left, #73C8A9, #373B44);
background: linear-gradient(to left, #73C8A9, #373B44);  

background: #52c234; 
background: -webkit-linear-gradient(to left, #52c234 , #061700);
background: linear-gradient(to left, #52c234 , #061700);
        
*/

body {
    background: #A8CD1B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #005A31;
}

h2 {
    line-height: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-darker {
    background-color: #005A31;
    color: #eaf7c5;
}

.section-brighter {
    background-color: #F3FAB6;
}

.section-title {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 0px;
    margin-bottom: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

div.container.body-content {
    margin-top: 90px;
}
/*

 */

.margin-top-10 {
    margin-top: 9.95px;
}

.margin-top-20 {
    margin-top: 18.95px;
}

.margin-bottom-10 {
    margin-bottom: 9.95px;
}

.margin-bottom-20 {
    margin-bottom: 18.95px;
}

/* components */

div.dataTables_length {
    float: right !important;
    margin-right: 10px;
}
